<main
  class="main-clients d-flex flex-column align-items-center justify-content-center px-3 text-light"
>
  <h1 class="text-danger">Clientes</h1>
  <p class="text-center">
    Conozca los detalles de su mensualidad con un click.
  </p>
  <form
    [formGroup]="clientForm"
    (ngSubmit)="handleSubmit()"
    class="d-flex align-items-center"
  >
    <input
      type="number"
      placeholder="Número de CC o TI"
      class="mt-2 p-2"
      formControlName="userId"
    />
    <button class="btn btn-danger mt-2 p-2">Buscar</button>
  </form>

  @if(!foundInMembers && !foundInTickets){
    <small> No se encontró ningún registro. </small>
  }
  

  <!-- MEMBERSHIPS -->
  @for(data of allUsers; track data._id){
  <section class="userData rounded text-dark p-3 d-flex flex-column mt-3">
    <h6 class="text-center text-danger">Tu Gimnasio</h6>
    <p class="text-light">
      <span class="text-danger">Nombre: </span> {{ dataFromGym?.gymName }}
    </p>
    <hr />

    <h6 class="text-center text-danger">Tus Datos</h6>
    <p class="text-light">
      <span class="text-danger">Nombre: </span> {{ allUsers[0].fullName }}
    </p>
    @if(data.phone){
    <p class="text-light">
      <span class="text-danger">Celular: </span> {{ allUsers[0].phone }}
    </p>
    } @if(data.phone){
    <p class="text-light">
      <span class="text-danger">Correo: </span> {{ allUsers[0].email }}
    </p>
    }

    <hr />

    <h6 class="text-center text-danger">Tu Mensualidad</h6>
    <p class="text-light">
      <span class="text-danger">Inicia: </span> {{ allUsers[0].datesToShow.start }}
    </p>
    <p class="text-light">
      <span class="text-danger">Expira: </span> {{ allUsers[0].datesToShow.end }}
    </p>
    @if(allUsers[0].datesToShow.daysLeft < 0){
    <p class="text-light">
      <span class="text-danger">Expiró hace: </span>{{ allUsers[0].datesToShow.daysLeft * -1 }} días.
    </p>
    } @else {
    <p class="text-light">
      <span class="text-danger">Tienes: </span>{{ allUsers[0].datesToShow.daysLeft }} días
    </p>
    }
  </section>
  } 
  
  <!-- tickets -->
  @for(ticket of ticketInfo; track ticket._id){
  <section class="userData rounded text-dark p-3 d-flex flex-column mt-3">
    <h6 class="text-center text-danger">Tu Gimnasio</h6>
    <p class="text-light">
      <span class="text-danger">Nombre: </span> {{ dataFromGym?.gymName }}
    </p>
    <hr />

    <h6 class="text-center text-danger">Tus Datos</h6>
    <p class="text-light">
      <span class="text-danger">Nombre: </span> {{ ticket.fullName }}
    </p>
    @if(ticket.phone){
    <p class="text-light">
      <span class="text-danger">Celular: </span> {{ ticket.phone }}
    </p>
    } @if(ticket.phone){
    <p class="text-light">
      <span class="text-danger">Correo: </span> {{ ticket.email }}
    </p>
    }
    <hr />

    <h6 class="text-center text-danger">Tu Tiquetera</h6>
    <p class="text-light">
      <span class="text-danger">Inicia: </span> {{ ticket.startDate }}
    </p>
    <p class="text-light">
      <span class="text-danger">Expira: </span> {{ ticket.endDate }}
    </p>
    <p class="text-light">
      <span class="text-danger">Días Disponibles: </span>{{ ticket.numberOfDays }} días.
    </p>
  
  </section>
  }
</main>
