*{
  font-size: 16px;
}

.gymName{
  font-size: 2rem;
}

.main-store{
  position: absolute;
  top: 0;
  width: 100%;

  background: linear-gradient(to right, #0f202789, #203a438f, #2c536499), url('../../../assets/store2.jpg');
  background-size: cover;
  min-height: 100vh;

}

.filters{
  top: 20%;
  left: 0;
  transform: translateX(-90%);
  transition: all .4s ease;
  background: linear-gradient(to top, #222222, #222222c6);
  box-shadow: 0 0 25px rgba(0, 0, 0, .7);
  border: 2px dotted green;
}
.filters:hover{
  transform: translateX(0);
}

.table-title{
  background: linear-gradient(to top, #222222cf, #22222241)
}

.data{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
}

table{
  box-shadow: 0 0 50px rgba(0, 0, 0, .7);
}

.icon1{
  color: rgb(72, 120, 55);
}

.icon2{
  color: rgb(79, 98, 160);
}

.icon3{
  color: rgb(198, 66, 66);
}

.modal-bg{
  background: linear-gradient(to top, #222222cf, #222222d4)
}

textarea{
  resize: none;
  outline: none;
}

input{
  outline: none;
}


@media screen and (min-width: 1040px){
  .filters{
    top: 20%;
    left: 0;
    transform: translateX(0);
    transition: all .4s ease;
    background: linear-gradient(to top, #222222, #222222ed);
    box-shadow: 0 0 25px rgba(0, 0, 0, .7);
    border: 2px dotted green;
    cursor: pointer;
  }

  i{
    font-size: 20px;
  }
}
