<main class="main-edit d-flex flex-column align-items-center justify-content-center text-white">

 
  <section class="d-flex flex-column details-form p-4 rounded">
    <h2> Editar Información </h2>
    <label for="name" class="fs-6">Nombre y Apellido</label>
    <input type="text" id="name" placeholder="John Doe" class="p-1 fs-6" required  [(ngModel)]="userData.fullName">

    <label for="cc" class="fs-6">CC o TI</label>
    <input type="text" id="cc" placeholder="1085313559" class="p-1"  [(ngModel)]="userData.idNumber">

    <label for="phone" class="fs-6">Celular </label>
    <input type="text" id="phone" placeholder="317 325 3124" class="p-1" [(ngModel)]="userData.phone">

    <label for="email" class="fs-6">Correo electrónico </label>
    <input type="text" id="email" placeholder="johndoe@hotmail.com" class="p-1" [(ngModel)]="userData.email">

    <label for="date" class="fs-6">Fecha de Inicio </label>
    <input type="date" id="date" placeholder="johndoe@hotmail.com" class="p-1" [(ngModel)]="userData.dateStart">
  </section>

  <div>
    <button class="btn btn-secondary m-2 fs-6" routerLink="/users"><i class="bi bi-arrow-left-circle-fill me-1"></i>Regresar</button>
    
    <a class="btn btn-danger m-2 fs-6" (click)="editUser(pastUserInfo._id)" href="/users">Actualizar</a>
  </div>
  
</main>
