.main-edit{
  position: absolute;
  top: 0;
  width: 100%;

  background: linear-gradient(to top, #222222cf, #22222241) , url('../../../assets/actions.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.details-form{
  background: linear-gradient(to top, #222222e1, #222222b1);
  box-shadow: 0 0 50px rgba(0, 0, 0, .7);
  margin-top: 2rem;
}

