@if(loginService.isLoggedIn()){
  <nav class="navbar users navbar-expand-lg navbar-dark px-md-5">
    <div class="container-fluid">
      <a class="navbar-brand text-light fs-2" routerLink="home"><img src="../../../assets/logo.png" alt="NextGym logo" width="25px"> NextGymPro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/users">Mensualidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tickets">Tiqueteras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/store">Tienda</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="loginService.logOut()">Cerrar Sesión</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
} @else{
  <nav class="navbar general navbar-expand-lg navbar-dark px-md-5">
    <div class="container-fluid">
      <a class="navbar-brand text-light fs-2" routerLink="home"><img src="../../../assets/logo.png" alt="NextGym logo" width="25px"> NextGymPro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clients">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Inicio de Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
}

