*{
  font-size: 16px;
}

.gymName{
  font-size: 2rem;
}


.main-tickets{
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(to top, #222222cf, #22222241) , url('../../../assets/actions.jpg');

  background-size: cover;
  min-height: 110vh;
  margin-top: 50px;
}

.totalUsers{
  top: -15px;
  left: 0;
  font-size: .7rem;
}

table{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
}

.table-titles th{
  background: #222;
  border: 1px solid white;
}

.data{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
}

.icon1{
  color: rgb(72, 120, 55);
}

.icon2{
  color: rgb(79, 98, 160);
}

.icon3{
  color: #c64242;
}

.icon4{
  color: rgb(205, 128, 34);
}

.removeDay{
  border: none;
}
.removeDay:disabled{
  filter:grayscale(100%);
}

table{
  box-shadow: 0 0 50px rgba(0, 0, 0, .7);
}


.filters{
  top: 170px;
  left: 0;
  transform: translateX(-100%);
  transition: all .4s ease;
  background: linear-gradient(to top, #222222, #222222ed);
  box-shadow: 0 0 25px rgba(0, 0, 0, .7);
  border: 2px dotted orange;
}
.filters.active{
  transform: translateX(0);
}

/* CREATE */
.modal-bg{
  background: linear-gradient(to top, #222222cf, #222222d4)
}

input{
  outline: none;
}

.top-filters{
  background: linear-gradient(to top, #222222, #222222a4);
  max-width: 550px;
  border: 3px solid orange;
}

.tools-btn{
  position: absolute;
  left: 10px;
  top: 120px;
}

@media screen and (min-width: 1040px){
  .filters{
    top: 14%;
    left: 0;
    transform: translateX(0);
    transition: all .4s ease;
    background: linear-gradient(to top, #222222, #222222ed);
    box-shadow: 0 0 25px rgba(0, 0, 0, .7);
    border: 2px dotted orange;
    cursor: pointer;
  }

  .action-icons i{
    font-size: 20px;
  }

  .tools-btn{
    display: none;
  }
}