<main class="d-flex align-items-center justify-content-center position-relative">
  <div class="text-light text-center d-flex flex-column px-3">
    <p > Un solo lugar para </p>
    <h1 class="h1"> Administrar bien su gimnasio por <span class="text-danger">$1000 </span>pesos al día.</h1>
    <p > Deje de llevar el registro de sus clientes en un cuaderno viejo, actualícese y haga su trabajo más sencillo.</p>
  
    <a routerLink="/signup" class="btn bg-danger align-self-center text-light p-2 mt-2">Comenzar Ahora</a>
  </div>

  <section class="text-light overflow-hidden position-absolute bottom-0 start-0 w-100 bg-dark  py-3 align-items-center container-fluid">
    <div class="row text-center">
      <div class="col-12 col-sm-12 col-md-3 d-flex align-items-center justify-content-center">
        <h2 class="text-danger fs-3"> Servicios </h2>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <i class="bi bi-calendar3"></i>
        <h2 class="lead fs-6"> Mensualidades </h2>
      </div>
      <div class="col-6 col-sm-4 col-md-3 ">
        <i class="bi bi-calendar-date"></i>
        <h2 class="lead fs-6"> Tiqueteras </h2>
      </div>
      <div class="col-12 col-sm-4 col-md-3 ">
        <i class="bi bi-shop"></i>
        <h2 class="lead fs-6"> Inventario </h2>
      </div>
    </div>
  </section>
</main>