<main class="main-create d-flex flex-column align-items-center justify-content-center text-white py-5">


  <section class="d-flex flex-column create-form p-4 rounded mt-5">
    <h2>Agregar nueva persona.</h2>
    <label for="name">Nombre y Apellido<span class="text-danger h5"> *</span></label>
    <input type="text" id="name" placeholder="Obligatorio" class="p-1"  [(ngModel)]="userData.fullName">

    <label for="cc">CC o TI<span class="text-danger h5"> *</span></label>
    <input type="number" id="cc" placeholder="Obligatorio" class="p-1"  [(ngModel)]="userData.idNumber">

    <label for="date">Fecha de Inicio<span class="text-danger h5"> *</span></label>
    <input type="date" id="date" placeholder="Obligatorio" class="p-1" [(ngModel)]="userData.startDate">

    <label for="date">Fecha de Fin<span class="text-danger h5"> *</span></label>
    <input type="date" id="date" placeholder="Obligatorio" class="p-1" [(ngModel)]="userData.endDate">

    <label for="phone">Celular </label>
    <input type="number" id="phone"  class="p-1" [(ngModel)]="userData.phone">

    <label for="email">Correo electrónico </label>
    <input type="text" id="email" class="p-1" [(ngModel)]="userData.email">

    <label for="notes">Apuntes </label>
    <textarea id="notes" id="email" [(ngModel)]="userData.notes"  class="p-1"  cols="30" rows="3" ></textarea>

  </section>

  @if(popupMessage){
    <small class="text-danger mw-25"> {{ popupMessage }} </small>
  }
  <div class="d-flex gap-2">

    <button class="btn btn-secondary d-flex align-items-center gap-2 mt-3" routerLink="/users"><i class="bi bi-arrow-left-circle-fill fs-6"></i>Regresar</button>
    <button class="btn btn-danger mt-3" (click)="createUser()">Agregar</button>
  </div>
</main>