.main-details {
  position: absolute;
  top: 0;
  width: 100%;

  background: linear-gradient(to top, #222222cf, #22222241) , url('../../../assets/actions.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.user-name{
  background: linear-gradient(to top, #222222cf, #22222241)
}

.data{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
}

table{
  box-shadow: 0 0 50px rgba(0, 0, 0, .7);
}