.main-delete{
  position: absolute;
  top: 0;
  width: 100%;

  background: #222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.delete-modal{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
  box-shadow: 0 0 50px rgba(0, 0, 0, .7);

}