*{
  font-size: 16px;
}

.gymName{
  font-size: 2rem;
}

.main-users{
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(to top, #222222cf, #22222241) , url('../../../assets/actions.jpg');
  background-size: cover;
  min-height: 130vh;
  margin-top: 50px;
}

.az-btn{
  top: 170px;
  left: 0;
  transform: translateX(-100%);
  transition: all .4s ease;
  background: linear-gradient(to top, #222222, #222222ed);
  box-shadow: 0 0 25px rgba(0, 0, 0, .7);
  border: 2px dotted red;
  cursor: pointer;
}
.az-btn.active{
  transform: translateX(0);
}

.totalUsers{
  top: -20px;
  left: 0;
  font-size: .7rem;
}

.navbar{
  position: absolute;
  z-index: 1;
  width: 100%;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.table-titles th{
  background: #222;
  border: 1px solid white;
}

.data{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
  position: relative;
}


.icon1{
  color: rgb(72, 120, 55);
}

.icon2{
  color: rgb(79, 98, 160);
}

.icon3{
  color: rgb(198, 66, 66);
}

table{
  box-shadow: 0 0 50px rgba(0, 0, 0, .7);
}

input{
  outline: none;
  padding: 3px 6px;
}

.top-filters{
  background: linear-gradient(to top, #222222, #222222a4);
  max-width: 550px;
  border: 3px solid rgb(198, 50, 50);
}

.badge{
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  right: -15px;

}
.badge i{
  font-size: .5rem;
}

table{
  background: linear-gradient(to left, #ece9e6, #fffffff6);
}

.tools-btn{
  position: absolute;
  left: 10px;
  top: 120px;
}

.bell{
  right: 3%;
  position: absolute;
}

@media screen and (min-width: 1040px){
  .az-btn{
    top: 10%;
    left: 0;
    transform: translateX(0);
    transition: all .4s ease;
    background: linear-gradient(to top, #222222, #222222ed);
    box-shadow: 0 0 25px rgba(0, 0, 0, .7);
    border: 2px dotted rgb(198, 50, 50);
    cursor: pointer;
  }

  i{
    font-size: 20px;
  }

  .tools-btn{
    display: none;
  }
}

