<main class="main-users d-flex align-items-center flex-column py-5 px-2">

  <!-- bell -->
  <app-notifications class="position-absolute bell" />
  
  <!-- users interface -->
  <h2 class="text-light mt-4 gymName">{{ gymName }}</h2>

  <!-- add btn -->
  <button class="btn btn-danger" routerLink="/create">
    Agregar <i class="bi bi-plus-circle-fill"></i>
  </button>

  <!-- filters on top -->
  <div class="container top-filters text-center flex-column gap-1 my-3 rounded p-3 text-light">
    <h5>Filtros de Búsqueda <i class="bi bi-search"></i></h5>
    <div class="row">
      <!-- ID Number filter -->
      <div class="col col-md-6 d-flex flex-column align-items-center">
        <label for="cc">CC o TI</label>
        <input
          id="cc"
          type="number"
          placeholder="N° de Identificación"
          [(ngModel)]="wantedId"
          (keyup)="byUserId()"
        />
      </div>
  
      <!-- By Name filter -->
      <div class="col-md-6 d-flex flex-column align-items-center">
        <label class="text-light" for="names">Nombre o Apellido</label>
        <input
          id="names"
          type="text"
          placeholder="Juan Pérez"
          [(ngModel)]="nameOrLastName"
          (keyup)="byNameLastname()"
        />
      </div>
    </div>
  </div>

  <table class="text-light text-center mt-3 position-relative">
    <!-- total users -->
    <span class="totalUsers text-light border-dark position-absolute">
      Total de Usuarios: {{ contentToShow.length }}
    </span>

    <tr class="table-titles text-light">
      <th class="p-1 ">Nombre</th>
      <th class="p-1 ">Inicia</th>
      <th class="p-1 ">Termina</th>
      <th class="p-1 ">Acciones</th>
    </tr>

    @if(!contentToShow.length){ <p class=" text-dark p-1">Sin usuarios.</p> }


    @for(user of contentToShow; track user._id){
    <tr class="data text-dark border border-dark">
      <td class="border border-dark p-1 px-md-3">
        {{ user.fullName }}
      </td>
      <td class="border border-dark p-1 px-md-3">{{ user.datesToShow.start }}</td>
      <td class="border border-dark p-1 px-md-3">{{ user.datesToShow.end }}</td>

      <!-- action icons -->
      <td class="p-1 px-md-3 d-flex gap-2 flex-wrap">
        <a [routerLink]="'/details/' + user._id" class="text-decoration-none"
          ><i
            class="bi bi-eye-fill icon1"
            title="See Details"
          ></i
        ></a>

        <a [routerLink]="'/edit/' + user._id" class="text-decoration-none"
          ><i class="bi bi-pen-fill icon2" title="Edit"></i
        ></a>

        <a [routerLink]="'/delete/' + user._id" class="text-decoration-none"
          ><i class="bi bi-x-circle-fill icon3" title="Delete"></i
        ></a>

      </td>

        <!-- Badge to show colors -->
      <!-- <span class="badge">
        @if(user.datesToShow.daysLeft <= 3 && user.datesToShow.daysLeft > 0){
          <i class="bi bi-bookmark-fill text-warning"></i>
        } @else if (user.datesToShow.daysLeft <= 0) {
          <i class="bi bi-bookmark-fill text-danger"></i>
        } @else {
          <i class="bi bi-bookmark-fill text-success"></i>
        }
      </span> -->
    </tr>
    }
  </table>

  <!-- filters -->
  <div
    class="az-btn position-absolute d-flex flex-column align-items-center gap-1 rounded p-3 z-3 filters"
  >
    <h4 class="text-light">Herramientas<i class="bi bi-tools ms-2"></i></h4>

    <!-- Show all filter -->
    <span class="btn btn-danger" (click)="showAllUsers()" title="Resetear"
      >Todos</span
    >

    <!-- AZ - ZA filters -->
    <div class="d-flex gap-2">

      <span
        class="btn btn-danger"
        (click)="aToZ()"
        title="Organizar de la A a la Z"
        >A-Z</span
      >
      <span
        class="btn btn-danger"
        (click)="zToA()"
        title="Organizar de la Z a la A"
        >Z-A</span
      >
    </div>

    <!-- Months filter -->
    <label class="text-light">Mes</label>
    <select [(ngModel)]="selectedMonth">
      <option disabled>Escoja un mes</option>
      <option value="Ene">Enero</option>
      <option value="Feb">Febrero</option>
      <option value="Mar">Marzo</option>
      <option value="Abr">Abril</option>
      <option value="May">Mayo</option>
      <option value="Jun">Junio</option>
      <option value="Jul">Julio</option>
      <option value="Ago">Agosto</option>
      <option value="Sep">Septiembre</option>
      <option value="Oct">Octubre</option>
      <option value="Nov">Noviembre</option>
      <option value="Dic">Diciembre</option>
    </select>
    <span
      class="btn btn-danger"
      title="Organizar de la Z a la A"
      (click)="byMonth()"
      >Buscar</span
    >

    <!-- ID Number filter -->
    <label class="text-light" for="cc">N° de Identificación</label>
    <input
      id="cc"
      type="text"
      placeholder="CC o TI"
      [(ngModel)]="wantedId"
    />
    <button class="btn btn-danger" (click)="byUserId()">Buscar</button>

    <!-- By Name filter -->
    <label class="text-light" for="names">Nombre o Apellido</label>
    <input
      id="names"
      type="text"
      placeholder="Juan Pérez"
      [(ngModel)]="nameOrLastName"
      (keyup)="byNameLastname()"
    />

    <!-- about to expire -->
    <label class="text-light" for="names">Usuarios por vencer </label>
    <button class="btn btn-danger" (click)="aboutToExpire()">Mostrar </button>

    <!-- Expired memberships -->
    <label class="text-light" for="names">Usuarios Vencidos </label>
    <button class="btn btn-danger" (click)="expiredMemberships()">Mostrar </button>
  </div>

  <!-- toggle tools btn  -->
  <button class="btn btn-danger tools-btn" (click)="toggleToolsMenu()"><i class="bi bi-tools"></i></button>
</main>
